/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

h1 {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 130%;
  color: #333;
  text-align: center;
  letter-spacing: 0;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 110%;
  color: #333;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 5%;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #333;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 0;
}

h4 {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: #333;
  color: #344f10;
  text-transform: uppercase;
  letter-spacing: 5%;
}

h5 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #333;
  text-align: center;
  letter-spacing: 0;
}

.text-2 {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.text-3 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.text-small {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #333;
  letter-spacing: 0%;
}

.text-menu {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 0;
}

button {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15%;
}

.text-decorative {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: #344f10;
  text-transform: uppercase;
  letter-spacing: 0%;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 20px;
  padding-inline: 20px;
}

.header {
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100vw;
  height: 250px;
  margin-bottom: 25px;
  background-image: url("src/images/header_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1 {
  font-size: 24px;
  line-height: 130%;
}

button {
  justify-content: center;
}

.quote {
  margin: 100px 0;
}
.quote__title {
  color: #344f10;
}

.about {
  grid-column: 1/-1;
}
.about__title {
  grid-column: 1/-1;
}
.about__description {
  grid-column: 1/-1;
  color: #333;
}
.about__button {
  grid-column: 1/-1;
  text-decoration: none;
}

.shop__title {
  grid-column: 1/-1;
  justify-self: center;
}
.shop__list {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 34px;
}
.shop__cat {
  color: #828282;
}
.shop__image {
  grid-column: 1/-1;
  width: 100%;
  width: calc(100% + 40px);
  height: 267px;
  margin-left: -20px;
  background-image: url("src/images/shopimage_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shop__productinfo {
  grid-column: 1/-1;
}
.shop__name {
  margin-bottom: 10px;
}
.shop .button {
  grid-column: 1/-1;
}

.creators {
  grid-column: 1/-1;
}
.creators__title {
  grid-column: 1/-1;
}
.creators__description {
  grid-column: 1/-1;
  color: #333;
}
.creators__button {
  grid-column: 1/-1;
  text-decoration: none;
}
.creators__contact {
  grid-column: 1/-1;
}

.features__title {
  grid-column: 1/-1;
}
.features__composition {
  margin-bottom: 100px;
}
.features__image {
  grid-column: 1/-1;
  margin-bottom: 30px;
}
.features__icons {
  grid-column: 1/-1;
  margin-top: 100px;
}
.features__icon {
  display: flex;
  grid-column: 1/-1;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 20px;
}
.features__button {
  grid-column: 1/-1;
  text-decoration: none;
}
.features__icontitle {
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 50px;
  text-align: center;
}

.contact {
  grid-column: 1/-1;
}
.contact__title {
  grid-column: 1/-1;
}
.contact__description {
  grid-column: 1/-1;
  color: #333;
}
.contact__form {
  grid-column: 1/-1;
}
.contact__label:not(:focus, :active) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.contact__input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: 1px solid transparent;
  line-height: 150%;
  background-color: transparent;
}
.contact__input-wrapper {
  position: relative;
}
.contact__input-wrapper::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #bdbdbd;
}
.contact__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-bottom: 0;
  padding-top: 14px;
  border: 1px solid transparent;
  line-height: 150%;
  background-color: transparent;
}
.contact__button {
  grid-column: 1/-1;
}

.footer {
  padding: 30px 20px;
  background-color: #8c9772;
}
.footer__link {
  grid-column: 1/-1;
  color: #e4dfd3;
  text-decoration: none;
}
.footer__icons {
  display: flex;
  grid-column: 1/-1;
  gap: 20px;
  width: 20px;
  height: 20px;
  margin-bottom: 40px;
}
.footer__addres {
  grid-column: 1/-1;
  color: #e4dfd3;
  text-decoration: none;
}
.footer__addressline {
  display: flex;
  grid-column: 1/-1;
  flex-direction: column;
  margin-bottom: 10px;
  color: #e4dfd3;
  text-decoration: none;
}
.footer__end {
  grid-column: 1/-1;
  justify-self: center;
  color: #e4dfd3;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.footer .wrapper {
  margin-bottom: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    grid-template-columns: repeat(12, 80px);
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    grid-template-columns: repeat(12, 80px);
  }
}
.wrapper {
  margin-bottom: 100px;
}

.button {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border: none;
  line-height: 60px;
  color: #f2f2f2;
  opacity: 1;
  background-color: #333;
}

.content {
  padding: 0 20px;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  overflow: auto;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  padding: 20px;
  background-color: #333;
  transition: 0.7s ease-in-out;
}
.menu:target {
  transform: translateX(0);
}
.menu__close {
  width: 15px;
  height: 15px;
  border: 0;
  color: #e4dfd3;
  background-color: transparent;
  background-image: url(src/images/close__mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.menu__closelabel {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.menu__links {
  grid-column: 1/-1;
}
.menu__list {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: auto;
}
.menu__item {
  grid-column: 1/-1;
  justify-self: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
  text-align: center;
}
.menu__link {
  color: #e4dfd3;
  text-decoration: none;
}

body {
  background: #e4dfd3;
}

/*# sourceMappingURL=styles.css.map */
