h1 {
  margin-bottom: 10px;

  font-family: Poppins, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 130%;
  color: $primairly-font-color;
  text-align: center;
  letter-spacing: 0;
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 110%;
  color: #333;
  color: $primairly-font-color;
  text-transform: uppercase;
  letter-spacing: 5%;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #333;
  color: $primairly-font-color;
  text-transform: capitalize;
  letter-spacing: 0;
}

h4 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: $primairly-font-color;
  color: $secondary-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5%;
}

h5 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  color: $primairly-font-color;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $primairly-font-color;
  text-align: center;
  letter-spacing: 0;
}

.text-2 {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  color: $primairly-font-color;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.text-3 {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: $primairly-font-color;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.text-small {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $primairly-font-color;
  letter-spacing: 0%;
}

.text-menu {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: $primairly-font-color;
  text-transform: capitalize;
  letter-spacing: 0;
}

button {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  color: $primairly-font-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15%;
}

.text-decorative {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: $primairly-font-color;
  letter-spacing: 0%;
}
