.about {
  grid-column: 1/-1;

  &__title {
    grid-column: 1/-1;
  }

  &__description {
    grid-column: 1/-1;
    margin-bottom: 30px;
    color: $primairly-font-color;
  }

  &__button {
    grid-column: 1/-1;
    text-decoration: none;
  }

  @include tablet {
    &__title {
      grid-column: 1/-1;
      grid-row: 1;
    }

    &__description {
      grid-column: 1/4;
      grid-row: 2/4;
      font-size: 16px;
      color: $primairly-font-color;
    }

    &__image {
      grid-column: 4/7;
      grid-row: 2/5;
      height: 321px;
      background-image: url('src/images/about_tablet.jpg');
    }

    &__button {
      grid-column: 1/4;
      grid-row: 4;
      text-decoration: none;
    }
  }
}
