.button {
  height: 60px;
  border: none;

  line-height: 60px;
  color: $gray-4;

  opacity: 1;
  background-color: $primairly-font-color;

  &:hover {
    border: 1px solid $primairly-font-color;
    color: $primairly-font-color;
    background-color: $beige;
  }
}
