.contact {
  grid-column: 1/-1;
  margin: 0 $regular-margin 100px;

  &__leftcontent {
    grid-column: 1/-1;
    grid-row: 1;
  }

  &__label {
    &:not(:focus, :active) {
      @include visually-hidden;
    }
  }

  &__image {
    display: none;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border: 1px solid transparent;

    line-height: 150%;

    background-color: transparent;
  }

  &__input-wrapper {
    position: relative;

    &::after {
      content: ' ';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background: $gray-3;
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin-top: 45px;
    margin-bottom: 0;
    padding-top: 14px;
    border: 1px solid transparent;

    line-height: 150%;

    background-color: transparent;
  }

  &__button {
    grid-column: 1/-1;
    width: 100%;
  }

  @include tablet {
    margin-right: $tablet-margin;
    margin-bottom: 130px;
    margin-left: $tablet-margin;

    &__leftcontent {
      grid-column: 1/5;
      grid-row: 1;
    }

    &__description {
      margin-bottom: 20px;
    }

    &__image {
      display: grid;
      grid-column: 5/7;
      grid-row: 1;
      align-self: self-end;

      width: 342px;
      height: 407px;

      background-image: url('src/images/contact_tablet.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }

    &__textarea {
      margin-top: 45px;
    }

    &__button {
      width: 280px;
    }
  }

  @include desktop-regular {
    &__verticallogo {
      grid-column: 1;
      grid-row: span 3;

      width: 18px;
      height: 145px;

      background-image: url('src/images/vertical_contact.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &__leftcontent {
      grid-column: 2/6;
      grid-row: 1;
    }

    &__description {
      margin-bottom: 40px;
    }

    &__image {
      display: grid;
      grid-column: 7/13;
      grid-row: 1;
      align-self: self-end;

      width: 580px;
      height: 539px;

      background-image: url('src/images/contact_desktop.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }

    &__textarea {
      margin-top: 45px;
    }

    &__button {
      width: 280px;
    }
  }

  @include desktop-large {
    margin-right: $large-margin;
    margin-left: $large-margin;
  }
}
