.creators {
  display: grid;
  grid-column: 1/-1;

  margin-right: 20px;
  margin-bottom: 100px;
  margin-left: 20px;

  &__leftcontent {
    display: flex;
    grid-column: 1/-1;
    grid-row: 1;
    flex-direction: column;
    align-items: space-evenly;
  }

  &__image {
    display: none;
  }

  &__description-third {
    display: none;
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
  }

  @include tablet {
    &__leftcontent {
      display: flex;
      grid-column: 1/4;
      grid-row: 1;
      flex-direction: column;
      align-items: space-evenly;
    }

    &__description-text {
      margin-bottom: 15px;
    }

    &__verticallogo {
      display: none;
    }

    &__description-third {
      display: none;
    }

    &__image {
      display: grid;
      grid-column: 4/8;
      grid-row: 1;

      width: 342px;
      height: 440px;

      background-image: url('src/images/creators__tablet.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &__button {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__contact {
      width: 280px;
    }
  }

  @include desktop-regular {
    &__leftcontent {
      display: flex;
      grid-column: 2/6;
      grid-row: 1;
      flex-direction: column;
      align-items: space-evenly;

      height: 659px;
    }

    &__title {
      margin-bottom: 34px;
    }

    &__verticallogo {
      display: grid;
      grid-column: 1;
      grid-row: 1;

      width: 18px;
      height: 145px;

      background-image: url('src/images/vertical_shop.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &__description-text {
      margin-bottom: 30px;
      color: $primairly-font-color;
      text-align: left;
    }

    &__description-third {
      display: grid;
    }

    &__image {
      grid-column: 7/13;

      width: 100%;
      height: 659px;

      background-image: url('src/images/creators_desktop.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &__button {
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
}
