.features {
  &__title {
    grid-column: 1/-1;
    margin: 0 20px;
  }

  &__composition {
    margin-bottom: 100px;
  }

  &__image {
    grid-column: 1/-1;

    width: 100vw;
    height: 300px;
    margin-bottom: 30px;

    background-image: url('src/images/features_mobile.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  &__item {
    grid-column: span 2;
    align-self: baseline;
    margin: 0 20px;
  }

  &__icons {
    grid-column: 1/-1;
    margin-top: 100px;
  }

  &__icon {
    display: flex;
    grid-column: 1/-1;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    margin-bottom: 20px;
  }

  &__button {
    grid-column: 1/-1;
    margin: 0 20px;
    text-decoration: none;
  }

  &__icontitle {
    grid-column: 1/-1;
    justify-self: center;
    margin-bottom: 50px;
    text-align: center;
  }

  @include tablet {
    &__title {
      grid-column: 1/3;
      grid-row: 1;
      align-self: start;
    }

    &__composition {
      margin-bottom: 100px;
    }

    &__image {
      grid-column: 1/-1;
      grid-row: 1/3;

      height: 397px;

      background-image: url('src/images/features_tablet.svg');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
    }

    &__button {
      grid-column: 1/3;
      grid-row: 2;
      align-self: end;

      padding-bottom: 30px;

      text-decoration: none;
    }

    &__icons {
      grid-column: 1/-1;
      margin-top: 121px;
    }

    &__icontitle {
      grid-column: span 2;
    }
  }
}
