.footer {
  padding: 30px 20px;
  background-color: $primairly-color;

  &__list {
    display: flex;
    grid-column: 1/4;
    grid-row: 1;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    color: $beige;
    text-decoration: none;
  }

  &__icons {
    display: flex;
    grid-column: 1/-1;
    gap: 20px;

    width: 20px;
    height: 20px;
    margin-bottom: 40px;
  }

  &__addres {
    grid-column: 1/-1;
    color: $beige;
    text-decoration: none;
  }

  &__addressline {
    display: flex;
    grid-column: 1/-1;
    flex-direction: column;

    margin-bottom: 10px;

    color: $beige;
    text-decoration: none;
  }

  &__end {
    grid-column: 1/-1;
    justify-self: center;

    color: $beige;
    text-align: center;
    text-decoration: none;
    text-transform: none;
  }

  .wrapper {
    margin-bottom: 20px;
  }

  @include tablet {
    padding: 29px 27px;

    &__list {
      display: flex;
      grid-column: 1/4;
      grid-row: 1;
      flex-direction: column;
      gap: 15px;
    }

    &__icons {
      grid-column: 1/4;
      grid-row: 2;
    }

    &__addres {
      grid-column: 4 / 7;
    }

    &__end {
      grid-column: 1/7;
      justify-self: flex-start;
    }
  }

  @include desktop-regular {
    padding: 60px 50px;

    &__list {
      flex-direction: row;
      gap: 40px;
    }

    &__icons {
      grid-column: 8/12;
      grid-row: 2;
    }

    &__addres {
      grid-column: 8 / 12;
    }

    &__end {
      grid-column: 1/7;
      justify-self: flex-start;
    }
  }

  @include desktop-large {
    padding: 60px 130px;
  }
}
