.header {
  display: flex;
  flex-direction: column;

  margin-right: $mobile-margin;
  margin-bottom: 20px;
  margin-left: $mobile-margin;

  @include tablet {
    margin: 23px $tablet-margin 30px;
  }

  @include desktop-regular {
    margin: 52px $regular-margin 80px;
  }

  @include desktop-large {
    margin-right: $large-margin;
    margin-left: $large-margin;
  }
}
