.hero {
  grid-column: 1/-1;

  height: 250px;
  margin-right: -20px;
  margin-bottom: 25px;

  background-image: url('src/images/header_mobile.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__title {
    grid-column: 1/-1;
    font-size: 24px;
    line-height: 130%;
  }

  &__description {
    grid-column: 1/-1;
  }

  &__buttonshop {
    grid-column: 1/-1;
  }

  @include tablet {
    grid-column: 1/-1;
    width: 100vw;
    height: 500px;
    background-image: url('src/images/header_tablet.jpg');

    &__title {
      font-size: 36px;
      line-height: 150%;
    }

    &__buttonshop {
      grid-column: 3/5;
      margin-right: -30px;
      margin-left: -30px;
    }
  }
}
