@import 'reset';
@import 'utils';
@import 'typography';
@import 'navigation';
@import 'header';
@import 'hero';
@import 'quote';
@import 'about';
@import 'shop';
@import 'creators';
@import 'features';
@import 'contact';
@import 'footer';
@import '../styles/layout/wrapper';
@import 'button';
@import 'content';
@import 'menu';

body {
  background: $c-gray;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
