.shop {
  margin-right: $mobile-margin;
  margin-bottom: 100px;
  margin-left: $mobile-margin;

  &-product {
    margin-bottom: 20px;
  }

  &__title {
    grid-column: 1/-1;
    justify-self: center;
  }

  &__list {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
  }

  &__cat {
    color: $gray-5;
  }

  &__image-first {
    width: 320px;
    height: 267px;
    margin-left: -($mobile-margin);

    background-image: url('src/images/shopimage_mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__product {
    grid-column: span 3;
  }

  &__product-second {
    display: none;
  }

  &__name {
    margin: 20px 0 10px;
  }

  &__button {
    grid-column: 1 / -1;
    margin: 0 $mobile-margin;
  }

  @include tablet {
    margin-right: $tablet-margin;
    margin-bottom: 130px;
    margin-left: $tablet-margin;

    &__verticallogo {
      display: none;
    }

    &__title {
      grid-column: 1/-1;
      justify-self: start;
    }

    &__list {
      gap: 14px;
      justify-self: left;
      margin-bottom: 20px;
    }

    &__product-second {
      display: grid;
    }

    &__product {
      grid-column: span 3;
    }

    &__image-first {
      width: 342px;
      height: 300px;
      margin-left: 0;
      background-image: url('src/images/shop_picture1_tablet.jpg');
    }

    &__image-second {
      width: 342px;
      height: 300px;
      background-image: url('src/images/shop_picture2_tablet.jpg');
    }

    &__button {
      grid-column: 3/5;
      width: 280px;
      margin-top: 45px;
    }
  }

  @include desktop-regular {
    margin-right: $regular-margin;
    margin-left: $regular-margin;

    &__title {
      grid-column: 2/-1;
      justify-self: start;
      font-size: 36px;
    }

    &__verticallogo {
      display: block;
      grid-column: 1;
      grid-row: span 3;

      width: 18px;
      height: 145px;

      background-image: url('src/images/vertical_shop.svg');
    }

    &__list {
      grid-column: 2/-1;
      gap: 14px;
      justify-self: left;
    }

    &__cat {
      padding-bottom: 20px;
      border-bottom: 1px solid transparent;
      font-weight: 600;

      &:hover {
        border-bottom: 1px solid $primairly-font-color;
        font-weight: 600;
        color: $primairly-font-color;
      }
    }

    &__product-first {
      grid-column: 2/8;
      grid-row: 3;
    }

    &__product-second {
      grid-column: 8/-1;
      grid-row: 3;
    }

    &__image-first {
      width: 100%;
      height: 500px;
      margin-left: 0;

      background-image: url('src/images/shop_desktop_1.jpg');
      background-position: left;
      background-size: cover;

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }

    &__image-second {
      width: 100%;
      height: 500px;

      background-image: url('src/images/shop_desktop_2.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }

    &__button {
      grid-column: 3/12;
      justify-self: center;
      width: 280px;
    }
  }

  @include desktop-large {
    margin-right: $large-margin;
    margin-left: $large-margin;
  }
}
