.shop {
  display: grid;

  &__title {
    grid-column: 1/-1;
    justify-self: center;
  }

  &__list {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
  }

  &__cat {
    color: $gray-5;
  }

  &__image {
    grid-column: 1/-1;
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  &__product {
    grid-column: span 3;
  }

  &__product-second {
    display: none;
  }

  &__name {
    margin: 20px 0 10px;
  }

  &__button {
    grid-column: 1 / -1;
  }

  @include tablet {
    &__title {
      grid-column: 1/-1;
      justify-self: start;
    }

    &__list {
      gap: 14px;
      justify-self: left;
    }

    &__product-second {
      display: grid;
    }

    &__product {
      grid-column: span 3;
      margin-left: 20px;
    }

    &__button {
      grid-column: 3/5;
      margin-right: -30px;
      margin-left: -30px;
    }
  }
}
